@{
  Layout = "_Layout";
}
<form action='/students' method='post'>

  <label for='name'>Student's name: </label>
  <input id='name' name='name' type='text'>
  <label for='date'>Enrollment date: </label>
  <input id='date' name='date' type='date'>


  <button type='submit'>Add Student</button>


  <p><a href="/">Back to Homepage</a></p>
  <p><a href="/students">View all students</a></p>
</form>
