@{
  Layout = "_Layout";
}
<form action='/courses' method='post'>

  <label for='name'>Course name: </label>
  <input id='name' name='name' type='text'>
  <label for='courseNumber'>Course Id: </label>
  <input id='courseNumber' name='courseNumber' type='text'>


  <button type='submit'>Add Course</button>


  <p><a href="/">Back to Homepage</a></p>
  <p><a href="/courses">View all courses</a></p>
</form>
