@{
  Layout = "_Layout";
}

<h1>Welcome To Registrar!</h1>
<div class="card bg-faded card-block mb-3 p-3">
 <p>home</p>
</div>

<a href = "/students" class = "btn btn-info">View Students</a>
<a href = "/courses" class = "btn btn-warning">View Courses</a>
